body {
    background-color:rgba(255, 255, 255, 1);
    height: 72px;
    margin: 0;
    width: 346px;
    top: 108px;
    left: 156px;
    gap: 24px;
}

.inpt-btn {
    display: flex;
    justify-content: flex-end;
    column-gap: 8px;
    padding-top: 36px;
}

.my-button:active {
    background-color: blue;
    color: white;
}

.timer {
    display: flex;
    column-gap: 24px;
    padding: 15px;
    padding-left: 120px;
    border-radius: 4px;
}

.field {
    text-align: center;
}

.value {
    font-family: 'Montserrat Thin', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-align: left;
}

.label {
    font-family: 'Montserrat Thin', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
}